@tailwind components;
@tailwind utilities;

@layer components {
  .anticon-plus-circle {
    /* margin-bottom: 0 !important; */
    position: absolute;
    top: 0.75rem;
    right: 1rem;
  }

  .anticon-plus-circle-mobile {
    color: #fdbd03;
    font-size: 5rem !important;
  }

  .ant-btn {
    @apply bg-[#FDBD03] rounded text-white w-[20rem];
    border: none;
  }
  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn:active {
    @apply bg-[#FDD503] rounded text-white;
  }

  .todo {
    @apply p-4 rounded-lg bg-[#fff] mt-4 w-full;
    display: inline-block;
    color: #4c4c4c;
  }
}
